@import '../../../styles';
@import '../../../styles/base';

.major-hyperlink {
  display: block;
  position: relative;
  top: calc(-5.25rem - 2.25rem);

  @media (max-width: $site-size-small) {
    top: calc(-3.5rem - 1rem);
  }

  visibility: hidden;
}

.major-card {
  background-color: $color-neutrals-white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  color: $color-neutrals-black;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 45rem;

  &:first-child {
    margin-top: 0;
  }

  &-top {
    align-items: center;
    background-color: $color-neutrals-white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    padding: 1.5rem;
  }

  &-heading {
    @include font-heading-3;
    color: $color-neutrals-black;
    margin-right: 1rem;
    max-width: 100%;
  }

  &-bottom {
    background-color: $color-neutrals-white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 3rem;
  }

  &-info {
    display: flex;
    flex-direction: column;

    &-left {
      margin-bottom: 2rem;
    }

    &-right {
      margin-top: 1rem;
    }
  }

  &-subheading {
    @include font-subtitle-1;
    margin-bottom: 0.75rem;
  }

  &-description {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  &-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
  }

  &-link {
    margin-top: 0.5rem;

    &,
    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      @include font-linked-text;
    }

    &-arrow {
      margin-left: 0.5rem;
    }
  }

  &-videos {
    margin-top: 2rem;
  }

  &-video-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;

    a {
      color: $color-primary-blue;
      text-decoration: underline;
    }
  }

  &-note {
    background-color: $color-neutrals-white;
    border: 2px solid $color-primary-dark-yellow;
    margin-top: 1.5rem;
    padding: 1rem 2.5rem;

    &-text {
      @include font-text;
    }
  }

  @media (max-width: $site-size-small) {
    margin-bottom: 1.5rem;
    width: unset;

    &-top {
      align-items: flex-start;
      flex-direction: column;
      padding: 0.75rem 1rem;
    }

    &-bottom {
      padding: 1.5rem 1rem;
    }

    &-description {
      margin-top: 0.5rem;
      width: unset;
    }

    &-note {
      padding: 0.5rem 1rem;
    }

    &-video-list {
      padding-left: 0;
    }
  }
}
