@import '../../../styles/fonts';
@import '../../../styles/vars';

.major-page {
  &-hero {
    background-color: $color-background-grey;
    margin: 3rem -7rem -3rem;
    padding: 5rem 7rem;
  }

  &-hero-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }

  &-hero-text {
    flex: 1 1 500px;
    max-width: 1000px;
  }

  &-hero-image {
    height: auto;
    max-width: 350px;
  }

  &-hero-buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  &-title {
    @include font-heading-1-kefir;
  }

  &-text {
    @include font-text;
    line-height: 1.75;
    margin-top: 1.5rem;
  }

  &-subheading {
    @include font-heading-2-kefir;
  }
  
  &-cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 2rem;
    padding: 2rem 0;
  }

  &-content {
    background-color: $color-tag-white;
    margin: 3rem -7rem -3rem;
    padding: 3rem 7rem;
  }

  &-link {
    @include font-subtitle-1;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: $color-neutrals-dark-grey;
    display: inline-flex;
    padding: 1rem 1.5rem;
    width: 18rem;
  }

  .btn-orange {
    background-color: #ff8c66;
    border-radius: 0.5rem;
    color: color-tag-white;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .btn-blue {
    background-color: #77c5e7;
    border-radius: 0.5rem;
    color: color-tag-white;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  @media(max-width: $site-size-small) {
    &-hero-content {
      align-items: flex-start;
      flex-direction: column;
    }

    &-mobile-navigation {
      display: unset;
    }

    &-content {
      margin: 1.5rem -1.5rem -1.5rem;
      padding: 1.5rem;
    }

    &-hero-image {
      max-width: 100%;
    }

    &-cards {
      grid-template-columns: 1fr;
      padding: 1rem 0;
    }
  }
}
